NodeRed/scr-485-flows.json
[{"id":"77c51829e170088e","type":"tab","label":"scr-485","disabled":false,"info":"","env":[]},{"id":"fbbd1a84999b854d","type":"esphome-in","z":"77c51829e170088e","name":"5 Hysteresis","device":"28f2addb0b28639f","entity":"3323959736","bleaddress":"","x":110,"y":200,"wires":[["c042a6512d781d4c"]]},{"id":"780db0c3625207d5","type":"local-realtime","z":"77c51829e170088e","name":"iammeter","ip":"10.10.12.19:18080","interval":"3","x":100,"y":480,"wires":[["694ef78739ef7dcf"]]},{"id":"694ef78739ef7dcf","type":"time-range-switch","z":"77c51829e170088e","name":"Time range","lat":"","lon":"","startTime":"08:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":250,"y":480,"wires":[["13b78f8361552c41"],[]]},{"id":"23d6471cd84e320f","type":"esphome-out","z":"77c51829e170088e","name":"Set Power","device":"28f2addb0b28639f","entity":"169387589","x":730,"y":500,"wires":[]},{"id":"0cd8625e41517733","type":"esphome-in","z":"77c51829e170088e","name":"6 Max Power","device":"28f2addb0b28639f","entity":"598632720","bleaddress":"","x":110,"y":260,"wires":[["72cdbe109cfdf151"]]},{"id":"32864e49fea55747","type":"esphome-in","z":"77c51829e170088e","name":"Set Power","device":"28f2addb0b28639f","entity":"169387589","bleaddress":"","x":100,"y":320,"wires":[["62c2c08ef9d0bfe1"]]},{"id":"13b78f8361552c41","type":"function","z":"77c51829e170088e","name":"grid_power & Calculate","func":"/* WEM3080 Grid Power uses \ntmp_grid_power = msg.payload[2];\n*/\n/* WEM3080T/WEM3050T/WEM3046T\nIf your Grid Power uses \nphase A: msg.payload[0][2], \nphase B: msg.payload[1][2], \nphase C: msg.payload[2][2]\n*/\n\nvar tmp_grid_power = msg.payload[1][2];\nvar tmp_threshold = -30;\nvar tmp_hysteresis = 50;\nvar tmp_max_power = flow.get(\"max_power\");\nvar tmp_set_power = flow.get(\"set_power\");\n\n// if ((id(global_with_battery)) && id(battery_power).state < 0) {\n//     tmp_grid_power = tmp_grid_power - id(battery_power).state;\n// }\n\nif (tmp_grid_power < tmp_threshold - tmp_hysteresis) {\n    tmp_set_power += Math.abs(tmp_grid_power - tmp_threshold);\n    // Apply the conditional logic\n    if (tmp_set_power < 0) {\n        tmp_set_power = 0;\n    } else if (tmp_set_power > tmp_max_power) {\n        tmp_set_power = tmp_max_power;\n    } else {\n        tmp_set_power = tmp_set_power;\n    }\n}\n\nif (tmp_grid_power > tmp_threshold + tmp_hysteresis) {\n    tmp_set_power -= Math.abs(tmp_grid_power - tmp_threshold);\n    // Apply the conditional logic\n    if (tmp_set_power < 0) {\n        tmp_set_power = 0;\n    } else if (tmp_set_power > tmp_max_power) {\n        tmp_set_power = tmp_max_power;\n    } else {\n        tmp_set_power = tmp_set_power;\n    }\n} \n\n// return msg;\nvar newmsg = [\n    { topic: \"grid_power\", payload: tmp_grid_power },\n    {topic:\"set_power\",payload:{\"state\":tmp_set_power,\"missingState\":false}}\n    ];\nreturn newmsg;\n\n/* //demo\nvar voltage_a = msg.payload[0][0]\nvar current_a = msg.payload[0][1]\nvar power_a = msg.payload[0][2]\nvar importenergy_a = msg.payload[0][3]\nvar exportgrid_a = msg.payload[0][4]\n\nvar voltage_b = msg.payload[1][0]\nvar current_b = msg.payload[1][1]\nvar power_b = msg.payload[1][2]\nvar importenergy_b = msg.payload[1][3]\nvar exportgrid_b = msg.payload[1][4]\n\nvar voltage_c = msg.payload[2][0]\nvar current_c = msg.payload[2][1]\nvar power_c = msg.payload[2][2]\nvar importenergy_c = msg.payload[2][3]\nvar exportgrid_c = msg.payload[2][4]\n*/\n\n\n\n\n\n\n\n\n\n\n\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":480,"wires":[["8d6c46fdb05ca9d6","156c02be0e25f1c4"],["23d6471cd84e320f"]]},{"id":"decc3f5370406df0","type":"ui_text","z":"77c51829e170088e","group":"bbfca520739f271f","order":1,"width":0,"height":0,"name":"","label":"Max Power (W)","format":"{{msg.payload}} W","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":640,"y":260,"wires":[]},{"id":"8d6c46fdb05ca9d6","type":"ui_chart","z":"77c51829e170088e","name":"","group":"def107730da3d368","order":2,"width":"12","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1000","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":730,"y":380,"wires":[[]]},{"id":"30a8e631bd52319c","type":"ui_text","z":"77c51829e170088e","group":"bbfca520739f271f","order":4,"width":0,"height":0,"name":"","label":"Set Power (W)","format":"{{msg.payload}} W","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":640,"y":320,"wires":[]},{"id":"72cdbe109cfdf151","type":"function","z":"77c51829e170088e","name":"max_power to flow","func":"var max_power = msg.payload.state\n\nflow.set(\"max_power\", max_power);\n\nvar newmsg = [\n    { topic: \"max_power\", payload: max_power }\n    ];\n \nreturn newmsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":260,"wires":[["decc3f5370406df0","8d6c46fdb05ca9d6"]]},{"id":"62c2c08ef9d0bfe1","type":"function","z":"77c51829e170088e","name":"set_power to flow","func":"var set_power = msg.payload.state;\nset_power = Math.round(set_power)\n\nflow.set(\"set_power\", set_power);\n\nvar newmsg = [\n    { topic: \"set_power\", payload: set_power }\n    ];\n \nreturn newmsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":320,"wires":[["30a8e631bd52319c","8d6c46fdb05ca9d6"]]},{"id":"156c02be0e25f1c4","type":"ui_text","z":"77c51829e170088e","group":"bbfca520739f271f","order":5,"width":0,"height":0,"name":"","label":"Grid Power (W)","format":"{{msg.payload}} W","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":740,"y":440,"wires":[]},{"id":"dfda0ffd5d8eaf53","type":"esphome-out","z":"77c51829e170088e","name":"Max Power","device":"28f2addb0b28639f","entity":"598632720","x":590,"y":640,"wires":[]},{"id":"d362642ba6f1f077","type":"ui_text_input","z":"77c51829e170088e","name":"","label":"Max Power","tooltip":"","group":"1ae87956c6ad3fc7","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":250,"y":640,"wires":[["9d81ba25246a4c46"]]},{"id":"9d81ba25246a4c46","type":"function","z":"77c51829e170088e","name":"","func":"var max_power = msg.payload\n\nvar newmsg = [\n    {topic:\"max_power\",payload:{\"state\":max_power,\"missingState\":false}}\n    ];\n \nreturn newmsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":640,"wires":[["dfda0ffd5d8eaf53"]]},{"id":"f18b83cbc6306d77","type":"function","z":"77c51829e170088e","name":"","func":"var threshold = msg.payload\n\nvar newmsg = [\n    { topic: \"threshold\", payload: { \"state\": threshold,\"missingState\":false}}\n    ];\n \nreturn newmsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":720,"wires":[["27a5e1b6050e650a"]]},{"id":"9e17a6d02e1531ed","type":"ui_text_input","z":"77c51829e170088e","name":"","label":"Threshold","tooltip":"","group":"1ae87956c6ad3fc7","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":240,"y":720,"wires":[["f18b83cbc6306d77"]]},{"id":"27a5e1b6050e650a","type":"esphome-out","z":"77c51829e170088e","name":"5 Threshold","device":"28f2addb0b28639f","entity":"491690858","x":590,"y":720,"wires":[]},{"id":"3e98e1384ce791d5","type":"esphome-in","z":"77c51829e170088e","name":"5 Threshold","device":"28f2addb0b28639f","entity":"491690858","bleaddress":"","x":110,"y":140,"wires":[["f0a1849ad691a4af"]]},{"id":"3d7a7e7c0c068f12","type":"ui_text","z":"77c51829e170088e","group":"bbfca520739f271f","order":3,"width":0,"height":0,"name":"","label":"Hysteresis","format":"{{msg.payload}} W","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":630,"y":200,"wires":[]},{"id":"b9b33c6a3adc1eca","type":"ui_text","z":"77c51829e170088e","group":"bbfca520739f271f","order":2,"width":0,"height":0,"name":"","label":"Threshold","format":"{{msg.payload}} W","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":620,"y":140,"wires":[]},{"id":"c042a6512d781d4c","type":"function","z":"77c51829e170088e","name":"","func":"var hysteresis = msg.payload.state\n\nvar newmsg = [\n    { topic: \"hysteresis\", payload: hysteresis }\n    ];\n \nreturn newmsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[["3d7a7e7c0c068f12"]]},{"id":"f0a1849ad691a4af","type":"function","z":"77c51829e170088e","name":"","func":"var threshold = msg.payload.state\n\n\nvar newmsg = [\n    { topic: \"threshold\", payload: threshold }\n    ];\n \nreturn newmsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":140,"wires":[["b9b33c6a3adc1eca"]]},{"id":"991b7a13d6ae50cf","type":"function","z":"77c51829e170088e","name":"","func":"var hysteresis = msg.payload\n\nvar newmsg = [\n    {topic:\"hysteresis\",payload:{\"state\":hysteresis,\"missingState\":false}}\n    ];\n \nreturn newmsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":800,"wires":[["609c5867bd77ad45"]]},{"id":"f83d406fdc715ade","type":"ui_text_input","z":"77c51829e170088e","name":"","label":"Hysteresis","tooltip":"","group":"1ae87956c6ad3fc7","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":250,"y":800,"wires":[["991b7a13d6ae50cf"]]},{"id":"609c5867bd77ad45","type":"esphome-out","z":"77c51829e170088e","name":"5 Hysteresis","device":"28f2addb0b28639f","entity":"3323959736","x":590,"y":800,"wires":[]},{"id":"38dd2980abf24103","type":"comment","z":"77c51829e170088e","name":"Get data from scr-485","info":"","x":120,"y":100,"wires":[]},{"id":"6e667d7a0c336ea7","type":"comment","z":"77c51829e170088e","name":"Get data from your iammmeter and Calculate set_power","info":"WEM3080/WEM3080T/WEM3050T/WEM3046T\n\nModify in Function grid_power & Calculate\n/* WEM3080 Grid Power uses \ntmp_grid_power = msg.payload[2];\n*/\n/* WEM3080T/WEM3050T/WEM3046T\nIf your Grid Power uses \nphase A: msg.payload[0][2], \nphase B: msg.payload[1][2], \nphase C: msg.payload[2][2]\n*/\n\n/* //demo\nvar voltage_a = msg.payload[0][0]\nvar current_a = msg.payload[0][1]\nvar power_a = msg.payload[0][2]\nvar importenergy_a = msg.payload[0][3]\nvar exportgrid_a = msg.payload[0][4]\n\nvar voltage_b = msg.payload[1][0]\nvar current_b = msg.payload[1][1]\nvar power_b = msg.payload[1][2]\nvar importenergy_b = msg.payload[1][3]\nvar exportgrid_b = msg.payload[1][4]\n\nvar voltage_c = msg.payload[2][0]\nvar current_c = msg.payload[2][1]\nvar power_c = msg.payload[2][2]\nvar importenergy_c = msg.payload[2][3]\nvar exportgrid_c = msg.payload[2][4]\n*/","x":220,"y":420,"wires":[]},{"id":"71f27f67df6b4af7","type":"comment","z":"77c51829e170088e","name":"Set data to scr-485","info":"","x":110,"y":600,"wires":[]},{"id":"8570faf7ce3b18d2","type":"function","z":"77c51829e170088e","name":"","func":"var set_power = msg.payload\n\nvar newmsg = [\n    { topic: \"set_power\", payload: { \"state\": set_power,\"missingState\":false}}\n    ];\n \nreturn newmsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":880,"wires":[["7b83dd84bc311968"]]},{"id":"0a714297ebbe5dac","type":"ui_text_input","z":"77c51829e170088e","name":"","label":"Set Power","tooltip":"","group":"1ae87956c6ad3fc7","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":250,"y":880,"wires":[["8570faf7ce3b18d2"]]},{"id":"7b83dd84bc311968","type":"esphome-out","z":"77c51829e170088e","name":"Set Power","device":"28f2addb0b28639f","entity":"169387589","x":600,"y":880,"wires":[]},{"id":"28f2addb0b28639f","type":"esphome-device","name":"scr-485","host":"10.10.30.129","port":"6053","reconnect":"3","loglevel":"0","logdump":false,"ble":false},{"id":"bbfca520739f271f","type":"ui_group","name":"Display","tab":"753fd61a4d454c54","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"def107730da3d368","type":"ui_group","name":"Right","tab":"753fd61a4d454c54","order":2,"disp":false,"width":"12","collapse":false,"className":""},{"id":"1ae87956c6ad3fc7","type":"ui_group","name":"Set","tab":"753fd61a4d454c54","order":3,"disp":true,"width":"8","collapse":false,"className":""},{"id":"753fd61a4d454c54","type":"ui_tab","name":"SCR-485","icon":"dashboard","order":7,"disabled":false,"hidden":false}]