NodeRed/simulator_ev_solar_nr.json
[{"id":"914aa5c6274ddf3f","type":"tab","label":"Ocpp","disabled":false,"info":""},{"id":"c82ce77d85baf8b1","type":"CS server","z":"914aa5c6274ddf3f","name":"CentralSystem@8834","port":"8834","enabled15":false,"path15":"/ocpp15s","enabled16":false,"path16":"/ocpp16s","enabled16j":true,"path16j":"/endpoint/ocpp","log":true,"pathlog":"c:\\tmp\\OCPP__.log","x":121,"y":215,"wires":[["22164606e8244b1e","099f384abfe55cf1"]]},{"id":"099f384abfe55cf1","type":"debug","z":"914aa5c6274ddf3f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":311,"y":345,"wires":[]},{"id":"22164606e8244b1e","type":"switch","z":"914aa5c6274ddf3f","name":"OCPP CS Command Switch","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"BootNotification","vt":"str"},{"t":"eq","v":"Authorize","vt":"str"},{"t":"eq","v":"Heartbeat","vt":"str"},{"t":"eq","v":"StatusNotification","vt":"str"},{"t":"eq","v":"MeterValues","vt":"str"},{"t":"eq","v":"StartTransaction","vt":"str"},{"t":"eq","v":"StopTransaction","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":380,"y":220,"wires":[["d0b7f8ef6b5e543c","fb0cd6776a61e710"],["6c5553e1a6fb59a1"],["618396e825696d33","4420d8acb5fcca9e"],["40942bba5bf69cfc","3a3f3810c62c5a4d"],["40942bba5bf69cfc","3a3f3810c62c5a4d","c3ed265959580c3a","81dcf38a38eea0d8"],["b5d783e877082176","3a3f3810c62c5a4d"],["3a3f3810c62c5a4d","6c5553e1a6fb59a1"],["3a3f3810c62c5a4d"]]},{"id":"841311a34890284a","type":"server response","z":"914aa5c6274ddf3f","name":"","x":1000,"y":160,"wires":[]},{"id":"d0b7f8ef6b5e543c","type":"function","z":"914aa5c6274ddf3f","name":"BootNotification","func":"msg.payload = {\n    interval: 120,\n    currentTime: new Date().toISOString(),\n    status: \"Accepted\"\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":80,"wires":[["841311a34890284a"]]},{"id":"b5d783e877082176","type":"function","z":"914aa5c6274ddf3f","name":"Start Transaction","func":"msg.payload = {\n    idTagInfo: {\n        status: \"Accepted\",\n    },\n    transactionId: getRndInteger(0,100000)\n}\nreturn msg;\n\nfunction getRndInteger(min, max) {\n    return Math.floor(Math.random() * (max - min + 1) ) + min;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":240,"wires":[["841311a34890284a"]]},{"id":"1323ac1f0f35a524","type":"function","z":"914aa5c6274ddf3f","name":"Stop Transaction","func":"msg.payload = { idTagInfo: { status: \"Accepted\"} };\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":280,"wires":[["841311a34890284a"]]},{"id":"618396e825696d33","type":"change","z":"914aa5c6274ddf3f","name":"Heartbeat","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.currentTime","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":158,"wires":[["841311a34890284a","6b42612cbc0cb9e7"]]},{"id":"6c5553e1a6fb59a1","type":"change","z":"914aa5c6274ddf3f","name":"Generic Status=Accepted","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"idTagInfo\":{\"status\":\"Accepted\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":120,"wires":[["841311a34890284a","8d0c85c9973444a9"]]},{"id":"40942bba5bf69cfc","type":"change","z":"914aa5c6274ddf3f","name":"Generic Return","rules":[{"t":"set","p":"ocpp.data","pt":"msg","to":"payload.data","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["841311a34890284a"]]},{"id":"3a3f3810c62c5a4d","type":"debug","z":"914aa5c6274ddf3f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":40,"wires":[]},{"id":"607fde623af8dcf4","type":"inject","z":"914aa5c6274ddf3f","name":"get hb","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"GetConfiguration\",\"data\":{\"key\":[\"HeartbeatInterval\"]}}","payloadType":"json","x":110,"y":900,"wires":[["390744357f83468c"]]},{"id":"8d0c85c9973444a9","type":"debug","z":"914aa5c6274ddf3f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":120,"wires":[]},{"id":"c3ed265959580c3a","type":"debug","z":"914aa5c6274ddf3f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.meterValue[0].sampledValue[2]","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":320,"wires":[]},{"id":"390744357f83468c","type":"CS request JSON","z":"914aa5c6274ddf3f","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"GetConfiguration","cmddata":"","log":true,"pathlog":"","x":530,"y":940,"wires":[["0de1fe6c6fc917a8"]]},{"id":"0de1fe6c6fc917a8","type":"debug","z":"914aa5c6274ddf3f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":940,"wires":[]},{"id":"a5fb22aa8d789cb9","type":"inject","z":"914aa5c6274ddf3f","name":"get hb evse-002","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cbId\":\"evse-002\",\"command\":\"GetConfiguration\",\"data\":{\"key\":[\"HeartbeatInterval\"]}}","payloadType":"json","x":140,"y":980,"wires":[["390744357f83468c"]]},{"id":"7261a532e939cdc5","type":"comment","z":"914aa5c6274ddf3f","name":"Basic OCPP Central System Server and supporting nodes","info":"Change the port address and paths to meet your needs.\nThis is a very basic (does represent a fully functional CS) example","x":230,"y":30,"wires":[]},{"id":"7a60ae5116e8dc4c","type":"comment","z":"914aa5c6274ddf3f","name":"Send request from the Central Server to JSON based Charge Points (EVSEs)","info":"","x":290,"y":800,"wires":[]},{"id":"1148d827a90f55b4","type":"comment","z":"914aa5c6274ddf3f","name":"Target a different EVSE/cbId","info":"","x":160,"y":940,"wires":[]},{"id":"b886f85960b07fb1","type":"comment","z":"914aa5c6274ddf3f","name":"Inject a command with data","info":"","x":150,"y":860,"wires":[]},{"id":"511fe1e4b2707bfe","type":"comment","z":"914aa5c6274ddf3f","name":"Debug all incoming msgs","info":"","x":371,"y":305,"wires":[]},{"id":"6b7a4002f6cad814","type":"comment","z":"914aa5c6274ddf3f","name":"Example with JSON 1.6","info":"Keep in mind that some of the basic CS responses vary depending on OCPP 1.5 vs 1.6","x":121,"y":165,"wires":[]},{"id":"3599eb11516a2dc8","type":"ui_level","z":"914aa5c6274ddf3f","group":"0e915cbea4642bb8","order":1,"width":6,"height":5,"name":"","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"%","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":970,"y":720,"wires":[]},{"id":"81dcf38a38eea0d8","type":"function","z":"914aa5c6274ddf3f","name":"meterValue","func":"let dataArr = msg.payload.data.meterValue[0].sampledValue;\n\nlet result = [];\nfor (var item in dataArr) {\n    result.push({\n        payload: dataArr[item].value\n    });\n}\n\nreturn result;","outputs":5,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":600,"wires":[["2950112671b05a94"],["cc1f2b4e3c337ab6"],["18b483de2dda3eff"],["4cf88f3f65f1c4ac"],["ee5b5bb334b251b9","3599eb11516a2dc8"]]},{"id":"2950112671b05a94","type":"ui_text","z":"914aa5c6274ddf3f","group":"0e915cbea4642bb8","order":2,"width":6,"height":1,"name":"Wh","label":"Energy.Active.Import.Register","format":"{{msg.payload}}Wh","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":520,"wires":[]},{"id":"cc1f2b4e3c337ab6","type":"ui_text","z":"914aa5c6274ddf3f","group":"0e915cbea4642bb8","order":3,"width":6,"height":1,"name":"V","label":"Voltage","format":"{{msg.payload}}V","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":560,"wires":[]},{"id":"18b483de2dda3eff","type":"ui_text","z":"914aa5c6274ddf3f","group":"0e915cbea4642bb8","order":4,"width":6,"height":1,"name":"A","label":"Current.Import","format":"{{msg.payload}}A","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":600,"wires":[]},{"id":"4cf88f3f65f1c4ac","type":"ui_text","z":"914aa5c6274ddf3f","group":"0e915cbea4642bb8","order":5,"width":6,"height":1,"name":"W","label":"Power.Active.Import","format":"{{msg.payload}}W","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":640,"wires":[]},{"id":"ee5b5bb334b251b9","type":"ui_text","z":"914aa5c6274ddf3f","group":"0e915cbea4642bb8","order":6,"width":6,"height":1,"name":"%","label":"SoC","format":"{{msg.payload}}%","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":680,"wires":[]},{"id":"e78808f103b51643","type":"ui_button","z":"914aa5c6274ddf3f","name":"","group":"0e915cbea4642bb8","order":11,"width":2,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1060,"wires":[["1019265b5010a438"]]},{"id":"3cdce09e6722f555","type":"CS request JSON","z":"914aa5c6274ddf3f","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"RemoteStartTransaction","cmddata":"","log":true,"pathlog":"","x":530,"y":1060,"wires":[["267fa181f66d8a15","c3aa806019d2bf45"]]},{"id":"deea7a8a0be39b3e","type":"inject","z":"914aa5c6274ddf3f","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1060,"wires":[["e78808f103b51643"]]},{"id":"77e94053c236c5f0","type":"ui_button","z":"914aa5c6274ddf3f","name":"","group":"0e915cbea4642bb8","order":12,"width":2,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1120,"wires":[["478aa574a0f5e050"]]},{"id":"c3aa806019d2bf45","type":"debug","z":"914aa5c6274ddf3f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":1280,"wires":[]},{"id":"154c815459164f76","type":"CS request JSON","z":"914aa5c6274ddf3f","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"RemoteStopTransaction","cmddata":"","log":true,"pathlog":"","x":530,"y":1120,"wires":[["c3aa806019d2bf45","267fa181f66d8a15"]]},{"id":"643978bed918ef91","type":"inject","z":"914aa5c6274ddf3f","name":"Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1120,"wires":[["77e94053c236c5f0"]]},{"id":"1da2249853a7aa29","type":"inject","z":"914aa5c6274ddf3f","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"Reset\",\"data\":{\"type\":\"Hard\"}}","payloadType":"json","x":110,"y":1280,"wires":[["5f694381f4cc52d1"]]},{"id":"a70e40ea93f6161c","type":"inject","z":"914aa5c6274ddf3f","name":"ChangeAvailability","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"ChangeAvailability\",\"data\":{\"connectorId\":0,\"type\":\"Operative\"}}","payloadType":"json","x":150,"y":1340,"wires":[["d583548f4cc0ad8f"]]},{"id":"d583548f4cc0ad8f","type":"CS request JSON","z":"914aa5c6274ddf3f","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"ChangeAvailability","cmddata":"","log":true,"pathlog":"","x":530,"y":1340,"wires":[["c3aa806019d2bf45"]]},{"id":"5f694381f4cc52d1","type":"CS request JSON","z":"914aa5c6274ddf3f","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"Reset","cmddata":"","log":true,"pathlog":"","x":530,"y":1280,"wires":[["c3aa806019d2bf45"]]},{"id":"0c121a278ee1c68c","type":"CS request JSON","z":"914aa5c6274ddf3f","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"GetConfiguration","cmddata":"","log":true,"pathlog":"","x":530,"y":1460,"wires":[["c3aa806019d2bf45"]]},{"id":"70ca671571495ddd","type":"inject","z":"914aa5c6274ddf3f","name":"get ChargeProfileMaxStackLevel","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"GetConfiguration\",\"data\":{\"key\":[\"ChargeProfileMaxStackLevel\"]}}","payloadType":"json","x":190,"y":1460,"wires":[["0c121a278ee1c68c"]]},{"id":"18bea77776ad4ab3","type":"CS request JSON","z":"914aa5c6274ddf3f","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"SetChargingProfile","cmddata":"","log":true,"pathlog":"","x":530,"y":1520,"wires":[["c3aa806019d2bf45"]]},{"id":"4fd48a64a118a18b","type":"inject","z":"914aa5c6274ddf3f","name":"change ChargeProfileMaxStackLevel","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"SetChargingProfile\",\"data\":{\"connectorId\":0,\"csChargingProfiles\":{\"chargingProfileId\":8,\"stackLevel\":20,\"chargingProfileKind\":\"Relative\",\"chargingProfilePurpose\":\"ChargePointMaxProfile\",\"chargingSchedule\":{\"chargingRateUnit\":\"A\",\"chargingSchedulePeriod\":[{\"startPeriod\":0,\"limit\":10}]}}}}","payloadType":"json","x":200,"y":1520,"wires":[["18bea77776ad4ab3"]]},{"id":"7c43cefa37986bee","type":"CS request JSON","z":"914aa5c6274ddf3f","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"GetConfiguration","cmddata":"","log":true,"pathlog":"","x":530,"y":1400,"wires":[["c3aa806019d2bf45"]]},{"id":"f07d8eca06eba69c","type":"inject","z":"914aa5c6274ddf3f","name":"get ChargingScheduleAllowedChargingRateUnit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"GetConfiguration\",\"data\":{\"key\":[\"ChargingScheduleAllowedChargingRateUnit\"]}}","payloadType":"json","x":240,"y":1400,"wires":[["7c43cefa37986bee"]]},{"id":"9582eca25514f8c1","type":"CS request JSON","z":"914aa5c6274ddf3f","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"SetChargingProfile","cmddata":"","log":true,"pathlog":"","x":530,"y":1180,"wires":[["c3aa806019d2bf45"]]},{"id":"74f6f1a82b7298e7","type":"inject","z":"914aa5c6274ddf3f","name":"MAX 20A","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"SetChargingProfile\",\"data\":{\"connectorId\":0,\"csChargingProfiles\":{\"chargingProfileId\":8,\"stackLevel\":25,\"chargingProfileKind\":\"Relative\",\"chargingProfilePurpose\":\"ChargePointMaxProfile\",\"chargingSchedule\":{\"chargingRateUnit\":\"A\",\"chargingSchedulePeriod\":[{\"startPeriod\":0,\"limit\":20}]}}}}","payloadType":"json","x":120,"y":1220,"wires":[["9582eca25514f8c1"]]},{"id":"dd9fa08b0bb7da69","type":"template","z":"914aa5c6274ddf3f","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"command\": \"SetChargingProfile\",\n    \"data\": {\n        \"connectorId\": 0,\n        \"csChargingProfiles\": {\n            \"chargingProfileId\": 8,\n            \"stackLevel\": 25,\n            \"chargingProfileKind\": \"Relative\",\n            \"chargingProfilePurpose\": \"ChargePointMaxProfile\",\n            \"chargingSchedule\": {\n                \"chargingRateUnit\": \"A\",\n                \"chargingSchedulePeriod\": [\n                    {\n                        \"startPeriod\": 0,\n                        \"limit\": {{payload}}\n                    }\n                ]\n            }\n        }\n    }\n}","output":"json","x":320,"y":1180,"wires":[["9582eca25514f8c1"]]},{"id":"d4fa67a6595819cd","type":"ui_text_input","z":"914aa5c6274ddf3f","name":"","label":"","tooltip":"ChargePointMaxProfile","group":"0e915cbea4642bb8","order":14,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":170,"y":1180,"wires":[["dd9fa08b0bb7da69"]]},{"id":"1019265b5010a438","type":"template","z":"914aa5c6274ddf3f","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"command\": \"RemoteStartTransaction\",\n    \"data\": {\n        \"idTag\": \"evse-001\",\n        \"connectorId\": 1\n    }\n}","output":"json","x":360,"y":1060,"wires":[["3cdce09e6722f555"]]},{"id":"478aa574a0f5e050","type":"template","z":"914aa5c6274ddf3f","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"command\": \"RemoteStopTransaction\",\n    \"data\": {\n        \"idTag\": \"evse-001\",\n        \"connectorId\": 1\n    }\n}","output":"json","x":360,"y":1120,"wires":[["154c815459164f76"]]},{"id":"6b42612cbc0cb9e7","type":"ui_text","z":"914aa5c6274ddf3f","group":"0e915cbea4642bb8","order":15,"width":10,"height":1,"name":"","label":"NowTime","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":980,"y":400,"wires":[]},{"id":"1087be28a48cf334","type":"ui_button","z":"914aa5c6274ddf3f","name":"Charging","group":"0e915cbea4642bb8","order":8,"width":2,"height":1,"passthru":true,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"{{msg.backgound}}","className":"","icon":"","payload":"1","payloadType":"str","topic":"","topicType":"str","x":1340,"y":1100,"wires":[[]]},{"id":"68a1420436015c5a","type":"function","z":"914aa5c6274ddf3f","name":"","func":"var tmp = msg.payload;\n\nif(tmp == \"1\"){\n    msg.payload = 1\n    msg.backgound = \"green\"\n    msg.topic = \"Charging\"\n}else{\n    msg.payload = 0\n    msg.backgound = \"gray\"\n    msg.topic = \"ChargerOFF\"\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":1100,"wires":[["1087be28a48cf334"]]},{"id":"65a938cdaf268d3c","type":"change","z":"914aa5c6274ddf3f","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1080,"wires":[["68a1420436015c5a"]]},{"id":"c12b15b5231cc641","type":"change","z":"914aa5c6274ddf3f","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1120,"wires":[["68a1420436015c5a"]]},{"id":"c626cb838c117673","type":"inject","z":"914aa5c6274ddf3f","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"","payloadType":"date","x":1050,"y":1040,"wires":[["68a1420436015c5a"]]},{"id":"477fe4a269eeb7f2","type":"inject","z":"914aa5c6274ddf3f","name":"initialization","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"0","payload":"","payloadType":"date","x":1070,"y":1160,"wires":[["68a1420436015c5a"]]},{"id":"7b5f36843caa38a4","type":"ui_button","z":"914aa5c6274ddf3f","name":"Online/Offline","group":"0e915cbea4642bb8","order":7,"width":2,"height":1,"passthru":true,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"{{msg.backgound}}","className":"","icon":"","payload":"1","payloadType":"str","topic":"","topicType":"str","x":1200,"y":440,"wires":[[]]},{"id":"76c1af52aa022aaa","type":"function","z":"914aa5c6274ddf3f","name":"","func":"var tmp = msg.payload;\n\nif(tmp == \"1\"){\n    msg.payload = 1\n    msg.backgound = \"green\"\n    msg.topic = \"Online\"\n}else{\n    msg.payload = 0\n    msg.backgound = \"gray\"\n    msg.topic = \"Offline\"\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":440,"wires":[["7b5f36843caa38a4"]]},{"id":"f938843c53196ccd","type":"inject","z":"914aa5c6274ddf3f","name":"initialization","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"0","payload":"","payloadType":"date","x":730,"y":480,"wires":[["76c1af52aa022aaa"]]},{"id":"fb0cd6776a61e710","type":"change","z":"914aa5c6274ddf3f","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":400,"wires":[["76c1af52aa022aaa"]]},{"id":"4420d8acb5fcca9e","type":"trigger","z":"914aa5c6274ddf3f","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":730,"y":440,"wires":[["76c1af52aa022aaa"]]},{"id":"267fa181f66d8a15","type":"switch","z":"914aa5c6274ddf3f","name":"OCPP CS Command Switch","property":"ocpp.command","propertyType":"msg","rules":[{"t":"eq","v":"RemoteStartTransaction","vt":"str"},{"t":"eq","v":"RemoteStopTransaction","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":800,"y":1100,"wires":[["65a938cdaf268d3c"],["c12b15b5231cc641"],[]]},{"id":"d0fdcc213683b144","type":"local-realtime","z":"914aa5c6274ddf3f","name":"IAMMETER-Simulator","ip":"192.168.12.55:18080","interval":"30","x":140,"y":2020,"wires":[["54ac4e5d50645b1c","c79ef5d2a29324d3","0a748294f45152ad","0f4630c2c0694214"]]},{"id":"5b1de39e235abe33","type":"comment","z":"914aa5c6274ddf3f","name":"Get solar pv datas from IAMMETER-Simulator","info":"","x":210,"y":1660,"wires":[]},{"id":"db07b5766fc5ec35","type":"comment","z":"914aa5c6274ddf3f","name":"IAMMETER-Simulator control ev charger","info":"","x":180,"y":1620,"wires":[]},{"id":"54ac4e5d50645b1c","type":"debug","z":"914aa5c6274ddf3f","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":2080,"wires":[]},{"id":"c79ef5d2a29324d3","type":"function","z":"914aa5c6274ddf3f","name":"For display","func":"let dataArr = msg.payload;\n\nlet result = [];\nfor(var item in dataArr) {\n    result.push({\n        payload: dataArr[item]\n    });\n}\n\nreturn result;","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":2020,"wires":[["5cd75465610c2ac1"],["7e3cfcde0ffbec1a"],["63a633bbe2bfacc3"]]},{"id":"5cd75465610c2ac1","type":"function","z":"914aa5c6274ddf3f","name":"Solar (A)","func":"let dataArr = msg.payload;\n\nlet result = [];\nfor(var item in dataArr) {\n    result.push({\n        payload: dataArr[item]\n    });\n}\n\nreturn result;","outputs":7,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1820,"wires":[["991cfe51a816e02f","8711bf95.71d24"],["93d7a1a1.22831"],["ef61e3f7.608d2"],["d7581758.057ea8"],["4dad54eb.dbcb6c"],[],[]]},{"id":"7e3cfcde0ffbec1a","type":"function","z":"914aa5c6274ddf3f","name":"Grid (B)","func":"let dataArr = msg.payload;\n\nlet result = [];\nfor(var item in dataArr) {\n    result.push({\n        payload: dataArr[item]\n    });\n}\n\nreturn result;","outputs":7,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":2020,"wires":[["c532c61f.486988"],["5c3a3fb.686b0c"],["1bcbcfb7.59c88"],["23ad147c.27414c"],["ddca25cb.7bfa48"],[],[]]},{"id":"63a633bbe2bfacc3","type":"function","z":"914aa5c6274ddf3f","name":"Load (C)","func":"let dataArr = msg.payload;\n\nlet result = [];\nfor(var item in dataArr) {\n    result.push({\n        payload: dataArr[item]\n    });\n}\n\nreturn result;","outputs":7,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":2220,"wires":[["a3c4aaef.2815d8"],["e1307fb8.3c656"],["f717196b.d0c3d8"],["c0ad635.4f6cba"],["e2ff4a33.e2f278"],[],[]]},{"id":"991cfe51a816e02f","type":"debug","z":"914aa5c6274ddf3f","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":1700,"wires":[]},{"id":"654f0674b94fb318","type":"comment","z":"914aa5c6274ddf3f","name":"OUT[voltage, current, power, importenergy, exportgrid, frequency, powerfact]","info":"[voltage, current, power, importenergy, exportgrid, frequency, powerfact]","x":700,"y":1660,"wires":[]},{"id":"8711bf95.71d24","type":"ui_text","z":"914aa5c6274ddf3f","group":"16c2f050.5800a","order":1,"width":0,"height":0,"name":"voltageA","label":"voltageA","format":"{{msg.payload}}V","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":760,"y":1740,"wires":[]},{"id":"93d7a1a1.22831","type":"ui_text","z":"914aa5c6274ddf3f","group":"16c2f050.5800a","order":2,"width":0,"height":0,"name":"currentA","label":"currentA","format":"{{msg.payload}}A","layout":"row-spread","x":761.5,"y":1779,"wires":[]},{"id":"ef61e3f7.608d2","type":"ui_text","z":"914aa5c6274ddf3f","group":"16c2f050.5800a","order":3,"width":0,"height":0,"name":"powerA","label":"powerA","format":"{{msg.payload}}W","layout":"row-spread","x":759.5,"y":1816,"wires":[]},{"id":"d7581758.057ea8","type":"ui_text","z":"914aa5c6274ddf3f","group":"16c2f050.5800a","order":4,"width":0,"height":0,"name":"importenergyA","label":"importenergyA","format":"{{msg.payload}}kWh","layout":"row-spread","x":779.5,"y":1850,"wires":[]},{"id":"4dad54eb.dbcb6c","type":"ui_text","z":"914aa5c6274ddf3f","group":"16c2f050.5800a","order":5,"width":0,"height":0,"name":"exportgridA","label":"exportgridA","format":"{{msg.payload}}kWh","layout":"row-spread","className":"","x":770.5,"y":1889,"wires":[]},{"id":"c532c61f.486988","type":"ui_text","z":"914aa5c6274ddf3f","group":"72a7ac05.204694","order":6,"width":0,"height":0,"name":"voltageB","label":"voltageB","format":"{{msg.payload}}V","layout":"row-spread","className":"","x":758,"y":1941,"wires":[]},{"id":"5c3a3fb.686b0c","type":"ui_text","z":"914aa5c6274ddf3f","group":"72a7ac05.204694","order":7,"width":0,"height":0,"name":"currentB","label":"currentB","format":"{{msg.payload}}A","layout":"row-spread","x":759.5,"y":1980,"wires":[]},{"id":"1bcbcfb7.59c88","type":"ui_text","z":"914aa5c6274ddf3f","group":"72a7ac05.204694","order":8,"width":0,"height":0,"name":"powerB","label":"powerB","format":"{{msg.payload}}W","layout":"row-spread","x":757.5,"y":2017,"wires":[]},{"id":"23ad147c.27414c","type":"ui_text","z":"914aa5c6274ddf3f","group":"72a7ac05.204694","order":9,"width":0,"height":0,"name":"importenergyB","label":"importenergyB","format":"{{msg.payload}}kWh","layout":"row-spread","x":777.5,"y":2051,"wires":[]},{"id":"ddca25cb.7bfa48","type":"ui_text","z":"914aa5c6274ddf3f","group":"72a7ac05.204694","order":10,"width":0,"height":0,"name":"exportgridB","label":"exportgridB","format":"{{msg.payload}}kWh","layout":"row-spread","className":"","x":768.5,"y":2090,"wires":[]},{"id":"a3c4aaef.2815d8","type":"ui_text","z":"914aa5c6274ddf3f","group":"9b42ebd1.3d80e8","order":11,"width":0,"height":0,"name":"voltageC","label":"voltageC","format":"{{msg.payload}}V","layout":"row-spread","className":"","x":756,"y":2141,"wires":[]},{"id":"e1307fb8.3c656","type":"ui_text","z":"914aa5c6274ddf3f","group":"9b42ebd1.3d80e8","order":12,"width":0,"height":0,"name":"currentC","label":"currentC","format":"{{msg.payload}}A","layout":"row-spread","x":757.5,"y":2180,"wires":[]},{"id":"f717196b.d0c3d8","type":"ui_text","z":"914aa5c6274ddf3f","group":"9b42ebd1.3d80e8","order":13,"width":0,"height":0,"name":"powerC","label":"powerC","format":"{{msg.payload}}W","layout":"row-spread","className":"","x":755.5,"y":2217,"wires":[]},{"id":"c0ad635.4f6cba","type":"ui_text","z":"914aa5c6274ddf3f","group":"9b42ebd1.3d80e8","order":14,"width":0,"height":0,"name":"importenergyC","label":"importenergyC","format":"{{msg.payload}}kWh","layout":"row-spread","x":775.5,"y":2251,"wires":[]},{"id":"e2ff4a33.e2f278","type":"ui_text","z":"914aa5c6274ddf3f","group":"9b42ebd1.3d80e8","order":15,"width":0,"height":0,"name":"exportgridC","label":"exportgridC","format":"{{msg.payload}}kWh","layout":"row-spread","x":766.5,"y":2290,"wires":[]},{"id":"0a748294f45152ad","type":"function","z":"914aa5c6274ddf3f","name":"For control Charger","func":"let dataArr = msg.payload;\nlet solar_power = dataArr[0][2];\nlet grad_power = dataArr[1][2];\n\nlet output = flow.get(\"set_power\");\n\nif (solar_power >0){\n  if (grad_power > 0) {\n    output = output - grad_power;\n    flow.set(\"set_power\", output);\n  }\n  if (grad_power > -100 && grad_power < 0) {\n    output = output + 90;\n    flow.set(\"set_power\", output);\n  }\n  if (grad_power < -100) {\n    output = output - grad_power;\n    flow.set(\"set_power\", output);\n  }\n}else{\n  output = 0;\n}\n\n// if (output < 0) {\n//   output = 0;\n// }\n\nlet result = [];\n    result.push({\n        payload: output/220\n    })\n\nreturn result;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":2340,"wires":[["51884bb26c58a374","2d3dbaf76abdb5a4"]]},{"id":"2d3dbaf76abdb5a4","type":"debug","z":"914aa5c6274ddf3f","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":2340,"wires":[]},{"id":"0f4630c2c0694214","type":"function","z":"914aa5c6274ddf3f","name":"meter_solar","func":"let dataArr = msg.payload;\n\nvar solar_voltage = dataArr[0][0]\nvar solar_current = dataArr[0][1]\nvar solar_power = dataArr[0][2]\nvar solar_importenergy = dataArr[0][3]\nvar solar_exportgrid = dataArr[0][4]\n\nvar grad_voltage = dataArr[1][0]\nvar grad_current = dataArr[1][1]\nvar grad_power = dataArr[1][2]\nvar grad_importenergy = dataArr[1][3]\nvar grad_exportgrid = dataArr[1][4]\n\nvar load_voltage = dataArr[2][0]\nvar load_current = dataArr[2][1]\nvar load_power = dataArr[2][2]\nvar load_importenergy = dataArr[2][3]\nvar load_exportgrid = dataArr[2][4]\n\n\nvar newmsg = [\n    {topic:\"solar_power\",payload:solar_power},\n    {topic:\"grad_power\",payload:grad_power},\n    {topic:\"load_power\",payload:load_power}\n    ];\n \nreturn newmsg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":2640,"wires":[["21baabc69a908d35","0f6bd877cd8395f0"],["31161d4e84ee89e2","0f6bd877cd8395f0"],["2be48467ace877f4","0f6bd877cd8395f0"]]},{"id":"21baabc69a908d35","type":"function","z":"914aa5c6274ddf3f","name":"solar_power","func":"\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2520,"wires":[["78c7ab68294f516c","b27d9fad2d1489ee"]]},{"id":"31161d4e84ee89e2","type":"function","z":"914aa5c6274ddf3f","name":"grad_power","func":"\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2560,"wires":[["948d1b2a74b2db9e","b27d9fad2d1489ee"]]},{"id":"2be48467ace877f4","type":"function","z":"914aa5c6274ddf3f","name":"load_power","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2600,"wires":[["7a5068c5bae5f30d","b27d9fad2d1489ee"]]},{"id":"b27d9fad2d1489ee","type":"ui_chart","z":"914aa5c6274ddf3f","name":"","group":"4bf9f52b6135a06d","order":1,"width":"12","height":"3","label":"Power (W)","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":870,"y":2460,"wires":[[]]},{"id":"78c7ab68294f516c","type":"ui_gauge","z":"914aa5c6274ddf3f","name":"","group":"4bf9f52b6135a06d","order":2,"width":"4","height":"3","gtype":"compass","title":"Solar_Power","label":"W","format":"{{value}}","min":0,"max":"8000","colors":["#008fd5","#e6e600","#ca3838"],"seg1":"3000","seg2":"4000","diff":false,"className":"","x":870,"y":2520,"wires":[]},{"id":"948d1b2a74b2db9e","type":"ui_gauge","z":"914aa5c6274ddf3f","name":"","group":"4bf9f52b6135a06d","order":3,"width":"4","height":"3","gtype":"compass","title":"Grid_Power","label":"W","format":"{{value}}","min":"-5000","max":"5000","colors":["#008fd5","#e6e600","#ca3838"],"seg1":"3000","seg2":"4000","diff":false,"className":"","x":870,"y":2560,"wires":[]},{"id":"7a5068c5bae5f30d","type":"ui_gauge","z":"914aa5c6274ddf3f","name":"","group":"4bf9f52b6135a06d","order":4,"width":"4","height":"3","gtype":"compass","title":"Load_Power","label":"W","format":"{{value}}","min":0,"max":"5000","colors":["#008fd5","#e6e600","#ca3838"],"seg1":"3000","seg2":"4000","diff":false,"className":"","x":870,"y":2600,"wires":[]},{"id":"6571bbe3c9c9748c","type":"inject","z":"914aa5c6274ddf3f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"power","payloadType":"flow","x":870,"y":2640,"wires":[["0f6bd877cd8395f0"]]},{"id":"0f6bd877cd8395f0","type":"ui_chart","z":"914aa5c6274ddf3f","name":"","group":"bbfca520739f271f","order":1,"width":"12","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":570,"y":2680,"wires":[["b9c7a747f0b148f4"]]},{"id":"b9c7a747f0b148f4","type":"change","z":"914aa5c6274ddf3f","name":"","rules":[{"t":"set","p":"power","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":2680,"wires":[[]]},{"id":"f64d4fe6b05f064d","type":"link in","z":"914aa5c6274ddf3f","name":"link in 1","links":["51884bb26c58a374"],"x":65,"y":1180,"wires":[["d4fa67a6595819cd"]]},{"id":"51884bb26c58a374","type":"link out","z":"914aa5c6274ddf3f","name":"link out 1","mode":"link","links":["f64d4fe6b05f064d"],"x":525,"y":2340,"wires":[]},{"id":"def13bb4e799e18d","type":"inject","z":"914aa5c6274ddf3f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":2400,"wires":[["5a453b0b7ce4c26d"]]},{"id":"5a453b0b7ce4c26d","type":"change","z":"914aa5c6274ddf3f","name":"","rules":[{"t":"set","p":"set_power","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2400,"wires":[[]]},{"id":"b2b530c3a14c243d","type":"ui_spacer","z":"914aa5c6274ddf3f","name":"spacer","group":"0e915cbea4642bb8","order":13,"width":10,"height":1},{"id":"4cd8c541a6fa78ff","type":"ui_spacer","z":"914aa5c6274ddf3f","name":"spacer","group":"0e915cbea4642bb8","order":16,"width":2,"height":1},{"id":"2bafdaab.15b956","type":"ocpp-remotej-cp","name":"","cbId":"evse-001","ocppver":"1.6j"},{"id":"0e915cbea4642bb8","type":"ui_group","name":"Charger","tab":"403dcdc02b6fd187","order":6,"disp":true,"width":"12","collapse":false,"className":""},{"id":"16c2f050.5800a","type":"ui_group","name":"Solar","tab":"403dcdc02b6fd187","order":1,"disp":true,"width":"4","collapse":true,"className":""},{"id":"72a7ac05.204694","type":"ui_group","name":"Grid","tab":"403dcdc02b6fd187","order":2,"disp":true,"width":"4","collapse":true,"className":""},{"id":"9b42ebd1.3d80e8","type":"ui_group","name":"Load","tab":"403dcdc02b6fd187","order":3,"disp":true,"width":"4","collapse":true,"className":""},{"id":"4bf9f52b6135a06d","type":"ui_group","name":"Right","tab":"403dcdc02b6fd187","order":5,"disp":false,"width":"12","collapse":false,"className":""},{"id":"bbfca520739f271f","type":"ui_group","name":"Left","tab":"403dcdc02b6fd187","order":4,"disp":false,"width":"12","collapse":false,"className":""},{"id":"403dcdc02b6fd187","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]