NodeRed/simulator_ev_nr.json
[{"id":"acc9f35a.ec54d8","type":"tab","label":"Ocpp","disabled":false,"info":""},{"id":"8cee8d67.a2e858","type":"CS server","z":"acc9f35a.ec54d8","name":"CentralSystem@8834","port":"8834","enabled15":false,"path15":"/ocpp15s","enabled16":false,"path16":"/ocpp16s","enabled16j":true,"path16j":"/endpoint/ocpp","log":true,"pathlog":"c:\\tmp\\OCPP__.log","x":121,"y":215,"wires":[["68a8235f.451e04","7dcf2c29.43a464"]]},{"id":"7dcf2c29.43a464","type":"debug","z":"acc9f35a.ec54d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":311,"y":345,"wires":[]},{"id":"68a8235f.451e04","type":"switch","z":"acc9f35a.ec54d8","name":"OCPP CS Command Switch","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"BootNotification","vt":"str"},{"t":"eq","v":"Authorize","vt":"str"},{"t":"eq","v":"Heartbeat","vt":"str"},{"t":"eq","v":"StatusNotification","vt":"str"},{"t":"eq","v":"MeterValues","vt":"str"},{"t":"eq","v":"StartTransaction","vt":"str"},{"t":"eq","v":"StopTransaction","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":380,"y":220,"wires":[["7194ed20.873d8c","b2cb905d0d39874a"],["e936416b.681468"],["6c952053.e7be8","f055fb8c94637939"],["243ae570.3009e2","ed70d827.974808"],["243ae570.3009e2","ed70d827.974808","b9839e55.58e7c8","852038a32fe197e8"],["af7e1d23.d8562","ed70d827.974808"],["ed70d827.974808","e936416b.681468"],["ed70d827.974808"]]},{"id":"87468474.e9785","type":"server response","z":"acc9f35a.ec54d8","name":"","x":1000,"y":160,"wires":[]},{"id":"7194ed20.873d8c","type":"function","z":"acc9f35a.ec54d8","name":"BootNotification","func":"msg.payload = {\n    interval: 120,\n    currentTime: new Date().toISOString(),\n    status: \"Accepted\"\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":80,"wires":[["87468474.e9785"]]},{"id":"af7e1d23.d8562","type":"function","z":"acc9f35a.ec54d8","name":"Start Transaction","func":"msg.payload = {\n    idTagInfo: {\n        status: \"Accepted\",\n    },\n    transactionId: getRndInteger(0,100000)\n}\nreturn msg;\n\nfunction getRndInteger(min, max) {\n    return Math.floor(Math.random() * (max - min + 1) ) + min;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":240,"wires":[["87468474.e9785"]]},{"id":"8e8b7998.b5fea8","type":"function","z":"acc9f35a.ec54d8","name":"Stop Transaction","func":"msg.payload = { idTagInfo: { status: \"Accepted\"} };\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":280,"wires":[["87468474.e9785"]]},{"id":"6c952053.e7be8","type":"change","z":"acc9f35a.ec54d8","name":"Heartbeat","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.currentTime","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":158,"wires":[["87468474.e9785","27481a5810fe9cb1"]]},{"id":"e936416b.681468","type":"change","z":"acc9f35a.ec54d8","name":"Generic Status=Accepted","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"idTagInfo\":{\"status\":\"Accepted\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":120,"wires":[["87468474.e9785","8f8ced11.203858"]]},{"id":"243ae570.3009e2","type":"change","z":"acc9f35a.ec54d8","name":"Generic Return","rules":[{"t":"set","p":"ocpp.data","pt":"msg","to":"payload.data","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["87468474.e9785"]]},{"id":"ed70d827.974808","type":"debug","z":"acc9f35a.ec54d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":40,"wires":[]},{"id":"b83cc432.dd05a","type":"inject","z":"acc9f35a.ec54d8","name":"get hb","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"GetConfiguration\",\"data\":{\"key\":[\"HeartbeatInterval\"]}}","payloadType":"json","x":110,"y":900,"wires":[["644438bd.ddc77"]]},{"id":"8f8ced11.203858","type":"debug","z":"acc9f35a.ec54d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":120,"wires":[]},{"id":"b9839e55.58e7c8","type":"debug","z":"acc9f35a.ec54d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.meterValue[0].sampledValue[2]","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":320,"wires":[]},{"id":"644438bd.ddc77","type":"CS request JSON","z":"acc9f35a.ec54d8","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"GetConfiguration","cmddata":"","log":true,"pathlog":"","x":530,"y":940,"wires":[["dbdbed16.716bd8"]]},{"id":"dbdbed16.716bd8","type":"debug","z":"acc9f35a.ec54d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":940,"wires":[]},{"id":"2d2fff0f.147418","type":"inject","z":"acc9f35a.ec54d8","name":"get hb evse-002","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cbId\":\"evse-002\",\"command\":\"GetConfiguration\",\"data\":{\"key\":[\"HeartbeatInterval\"]}}","payloadType":"json","x":140,"y":980,"wires":[["644438bd.ddc77"]]},{"id":"dc104c1f.79ca1","type":"comment","z":"acc9f35a.ec54d8","name":"Basic OCPP Central System Server and supporting nodes","info":"Change the port address and paths to meet your needs.\nThis is a very basic (does represent a fully functional CS) example","x":230,"y":30,"wires":[]},{"id":"2138f556.ca99d2","type":"comment","z":"acc9f35a.ec54d8","name":"Send request from the Central Server to JSON based Charge Points (EVSEs)","info":"","x":290,"y":800,"wires":[]},{"id":"4a0b014c.9f6e18","type":"comment","z":"acc9f35a.ec54d8","name":"Target a different EVSE/cbId","info":"","x":160,"y":940,"wires":[]},{"id":"3e5c9b9f.d97564","type":"comment","z":"acc9f35a.ec54d8","name":"Inject a command with data","info":"","x":150,"y":860,"wires":[]},{"id":"248aa5d0.dec4f2","type":"comment","z":"acc9f35a.ec54d8","name":"Debug all incoming msgs","info":"","x":371,"y":305,"wires":[]},{"id":"1eb59bcf.4e063c","type":"comment","z":"acc9f35a.ec54d8","name":"Example with JSON 1.6","info":"Keep in mind that some of the basic CS responses vary depending on OCPP 1.5 vs 1.6","x":121,"y":165,"wires":[]},{"id":"71e6997b4a35703f","type":"ui_level","z":"acc9f35a.ec54d8","group":"0e915cbea4642bb8","order":1,"width":6,"height":5,"name":"","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"%","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":970,"y":720,"wires":[]},{"id":"852038a32fe197e8","type":"function","z":"acc9f35a.ec54d8","name":"meterValue","func":"let dataArr = msg.payload.data.meterValue[0].sampledValue;\n\nlet result = [];\nfor (var item in dataArr) {\n    result.push({\n        payload: dataArr[item].value\n    });\n}\n\nreturn result;","outputs":5,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":600,"wires":[["8b113e702ce7d549"],["7fae3d3f248a4ac7"],["72ab332d964ab556"],["eb73314b78c41d4f"],["16dab97cd6f7d4e2","71e6997b4a35703f"]]},{"id":"8b113e702ce7d549","type":"ui_text","z":"acc9f35a.ec54d8","group":"0e915cbea4642bb8","order":2,"width":6,"height":1,"name":"Wh","label":"Energy.Active.Import.Register","format":"{{msg.payload}}Wh","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":520,"wires":[]},{"id":"7fae3d3f248a4ac7","type":"ui_text","z":"acc9f35a.ec54d8","group":"0e915cbea4642bb8","order":3,"width":6,"height":1,"name":"V","label":"Voltage","format":"{{msg.payload}}V","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":560,"wires":[]},{"id":"72ab332d964ab556","type":"ui_text","z":"acc9f35a.ec54d8","group":"0e915cbea4642bb8","order":4,"width":6,"height":1,"name":"A","label":"Current.Import","format":"{{msg.payload}}A","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":600,"wires":[]},{"id":"eb73314b78c41d4f","type":"ui_text","z":"acc9f35a.ec54d8","group":"0e915cbea4642bb8","order":5,"width":6,"height":1,"name":"W","label":"Power.Active.Import","format":"{{msg.payload}}W","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":640,"wires":[]},{"id":"16dab97cd6f7d4e2","type":"ui_text","z":"acc9f35a.ec54d8","group":"0e915cbea4642bb8","order":6,"width":6,"height":1,"name":"%","label":"SoC","format":"{{msg.payload}}%","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":970,"y":680,"wires":[]},{"id":"4aa8e8b2babdb49f","type":"ui_button","z":"acc9f35a.ec54d8","name":"","group":"0e915cbea4642bb8","order":11,"width":2,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1060,"wires":[["6f5450b5a8493d5f"]]},{"id":"665156b0d058930c","type":"CS request JSON","z":"acc9f35a.ec54d8","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"RemoteStartTransaction","cmddata":"","log":true,"pathlog":"","x":530,"y":1060,"wires":[["e965d5a0551d275d","4cdf4697eb0d8433"]]},{"id":"da097a3137daaf60","type":"inject","z":"acc9f35a.ec54d8","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1060,"wires":[["4aa8e8b2babdb49f"]]},{"id":"cec04e490b832508","type":"ui_button","z":"acc9f35a.ec54d8","name":"","group":"0e915cbea4642bb8","order":12,"width":2,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1120,"wires":[["694223cc47f1abef"]]},{"id":"4cdf4697eb0d8433","type":"debug","z":"acc9f35a.ec54d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":1280,"wires":[]},{"id":"3d957c0ef8c8def5","type":"CS request JSON","z":"acc9f35a.ec54d8","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"RemoteStopTransaction","cmddata":"","log":true,"pathlog":"","x":530,"y":1120,"wires":[["4cdf4697eb0d8433","e965d5a0551d275d"]]},{"id":"34e8023e07452dc0","type":"inject","z":"acc9f35a.ec54d8","name":"Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1120,"wires":[["cec04e490b832508"]]},{"id":"08fb14c9f1051af4","type":"inject","z":"acc9f35a.ec54d8","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"Reset\",\"data\":{\"type\":\"Hard\"}}","payloadType":"json","x":110,"y":1280,"wires":[["ab0918ad0e6a33e5"]]},{"id":"e65fd61316d5c800","type":"inject","z":"acc9f35a.ec54d8","name":"ChangeAvailability","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"ChangeAvailability\",\"data\":{\"connectorId\":0,\"type\":\"Operative\"}}","payloadType":"json","x":150,"y":1340,"wires":[["95b9133692093ab7"]]},{"id":"95b9133692093ab7","type":"CS request JSON","z":"acc9f35a.ec54d8","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"ChangeAvailability","cmddata":"","log":true,"pathlog":"","x":530,"y":1340,"wires":[["4cdf4697eb0d8433"]]},{"id":"ab0918ad0e6a33e5","type":"CS request JSON","z":"acc9f35a.ec54d8","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"Reset","cmddata":"","log":true,"pathlog":"","x":530,"y":1280,"wires":[["4cdf4697eb0d8433"]]},{"id":"d4db81e2bca01499","type":"CS request JSON","z":"acc9f35a.ec54d8","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"GetConfiguration","cmddata":"","log":true,"pathlog":"","x":530,"y":1460,"wires":[["4cdf4697eb0d8433"]]},{"id":"d97410988df2f95e","type":"inject","z":"acc9f35a.ec54d8","name":"get ChargeProfileMaxStackLevel","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"GetConfiguration\",\"data\":{\"key\":[\"ChargeProfileMaxStackLevel\"]}}","payloadType":"json","x":190,"y":1460,"wires":[["d4db81e2bca01499"]]},{"id":"5a57acd1c402f22f","type":"CS request JSON","z":"acc9f35a.ec54d8","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"SetChargingProfile","cmddata":"","log":true,"pathlog":"","x":530,"y":1520,"wires":[["4cdf4697eb0d8433"]]},{"id":"1111efa4f1d2e344","type":"inject","z":"acc9f35a.ec54d8","name":"change ChargeProfileMaxStackLevel","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"SetChargingProfile\",\"data\":{\"connectorId\":0,\"csChargingProfiles\":{\"chargingProfileId\":8,\"stackLevel\":20,\"chargingProfileKind\":\"Relative\",\"chargingProfilePurpose\":\"ChargePointMaxProfile\",\"chargingSchedule\":{\"chargingRateUnit\":\"A\",\"chargingSchedulePeriod\":[{\"startPeriod\":0,\"limit\":10}]}}}}","payloadType":"json","x":200,"y":1520,"wires":[["5a57acd1c402f22f"]]},{"id":"d9fa5c75b5cb95db","type":"CS request JSON","z":"acc9f35a.ec54d8","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"GetConfiguration","cmddata":"","log":true,"pathlog":"","x":530,"y":1400,"wires":[["4cdf4697eb0d8433"]]},{"id":"5bbe54b20cfd0b0f","type":"inject","z":"acc9f35a.ec54d8","name":"get ChargingScheduleAllowedChargingRateUnit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"GetConfiguration\",\"data\":{\"key\":[\"ChargingScheduleAllowedChargingRateUnit\"]}}","payloadType":"json","x":240,"y":1400,"wires":[["d9fa5c75b5cb95db"]]},{"id":"2432b02e0beb3ade","type":"CS request JSON","z":"acc9f35a.ec54d8","name":"CS Req evse-001","remotecb":"2bafdaab.15b956","command":"SetChargingProfile","cmddata":"","log":true,"pathlog":"","x":530,"y":1180,"wires":[["4cdf4697eb0d8433"]]},{"id":"65cb611cf6ef3ab4","type":"inject","z":"acc9f35a.ec54d8","name":"MAX 20A","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"SetChargingProfile\",\"data\":{\"connectorId\":0,\"csChargingProfiles\":{\"chargingProfileId\":8,\"stackLevel\":25,\"chargingProfileKind\":\"Relative\",\"chargingProfilePurpose\":\"ChargePointMaxProfile\",\"chargingSchedule\":{\"chargingRateUnit\":\"A\",\"chargingSchedulePeriod\":[{\"startPeriod\":0,\"limit\":20}]}}}}","payloadType":"json","x":120,"y":1220,"wires":[["2432b02e0beb3ade"]]},{"id":"34e766db62fc213d","type":"template","z":"acc9f35a.ec54d8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"command\": \"SetChargingProfile\",\n    \"data\": {\n        \"connectorId\": 0,\n        \"csChargingProfiles\": {\n            \"chargingProfileId\": 8,\n            \"stackLevel\": 25,\n            \"chargingProfileKind\": \"Relative\",\n            \"chargingProfilePurpose\": \"ChargePointMaxProfile\",\n            \"chargingSchedule\": {\n                \"chargingRateUnit\": \"A\",\n                \"chargingSchedulePeriod\": [\n                    {\n                        \"startPeriod\": 0,\n                        \"limit\": {{payload}}\n                    }\n                ]\n            }\n        }\n    }\n}","output":"json","x":320,"y":1180,"wires":[["2432b02e0beb3ade"]]},{"id":"35f3313f74f01c91","type":"ui_text_input","z":"acc9f35a.ec54d8","name":"","label":"","tooltip":"ChargePointMaxProfile","group":"0e915cbea4642bb8","order":14,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":130,"y":1180,"wires":[["34e766db62fc213d"]]},{"id":"6f5450b5a8493d5f","type":"template","z":"acc9f35a.ec54d8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"command\": \"RemoteStartTransaction\",\n    \"data\": {\n        \"idTag\": \"evse-001\",\n        \"connectorId\": 1\n    }\n}","output":"json","x":360,"y":1060,"wires":[["665156b0d058930c"]]},{"id":"694223cc47f1abef","type":"template","z":"acc9f35a.ec54d8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"command\": \"RemoteStopTransaction\",\n    \"data\": {\n        \"idTag\": \"evse-001\",\n        \"connectorId\": 1\n    }\n}","output":"json","x":360,"y":1120,"wires":[["3d957c0ef8c8def5"]]},{"id":"27481a5810fe9cb1","type":"ui_text","z":"acc9f35a.ec54d8","group":"0e915cbea4642bb8","order":15,"width":10,"height":1,"name":"","label":"NowTime","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":980,"y":400,"wires":[]},{"id":"2518f96b2e3721fd","type":"ui_button","z":"acc9f35a.ec54d8","name":"Charging","group":"0e915cbea4642bb8","order":8,"width":2,"height":1,"passthru":true,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"{{msg.backgound}}","className":"","icon":"","payload":"1","payloadType":"str","topic":"","topicType":"str","x":1340,"y":1100,"wires":[[]]},{"id":"42d9701d17ede7c7","type":"function","z":"acc9f35a.ec54d8","name":"","func":"var tmp = msg.payload;\n\nif(tmp == \"1\"){\n    msg.payload = 1\n    msg.backgound = \"green\"\n    msg.topic = \"Charging\"\n}else{\n    msg.payload = 0\n    msg.backgound = \"gray\"\n    msg.topic = \"ChargerOFF\"\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":1100,"wires":[["2518f96b2e3721fd"]]},{"id":"62b031e9d5b9ec1e","type":"change","z":"acc9f35a.ec54d8","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1080,"wires":[["42d9701d17ede7c7"]]},{"id":"601a1a2d67c0f201","type":"change","z":"acc9f35a.ec54d8","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1120,"wires":[["42d9701d17ede7c7"]]},{"id":"9e983a4525f40748","type":"inject","z":"acc9f35a.ec54d8","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"","payloadType":"date","x":1050,"y":1040,"wires":[["42d9701d17ede7c7"]]},{"id":"8f1bd871bd0db297","type":"inject","z":"acc9f35a.ec54d8","name":"initialization","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"0","payload":"","payloadType":"date","x":1070,"y":1160,"wires":[["42d9701d17ede7c7"]]},{"id":"59a417f8f94ad9af","type":"ui_button","z":"acc9f35a.ec54d8","name":"Online/Offline","group":"0e915cbea4642bb8","order":7,"width":2,"height":1,"passthru":true,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"{{msg.backgound}}","className":"","icon":"","payload":"1","payloadType":"str","topic":"","topicType":"str","x":1200,"y":440,"wires":[[]]},{"id":"758e069170dd3a7a","type":"function","z":"acc9f35a.ec54d8","name":"","func":"var tmp = msg.payload;\n\nif(tmp == \"1\"){\n    msg.payload = 1\n    msg.backgound = \"green\"\n    msg.topic = \"Online\"\n}else{\n    msg.payload = 0\n    msg.backgound = \"gray\"\n    msg.topic = \"Offline\"\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":440,"wires":[["59a417f8f94ad9af"]]},{"id":"56cec6677b785d53","type":"inject","z":"acc9f35a.ec54d8","name":"initialization","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"0","payload":"","payloadType":"date","x":730,"y":480,"wires":[["758e069170dd3a7a"]]},{"id":"b2cb905d0d39874a","type":"change","z":"acc9f35a.ec54d8","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":400,"wires":[["758e069170dd3a7a"]]},{"id":"f055fb8c94637939","type":"trigger","z":"acc9f35a.ec54d8","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":730,"y":440,"wires":[["758e069170dd3a7a"]]},{"id":"e965d5a0551d275d","type":"switch","z":"acc9f35a.ec54d8","name":"OCPP CS Command Switch","property":"ocpp.command","propertyType":"msg","rules":[{"t":"eq","v":"RemoteStartTransaction","vt":"str"},{"t":"eq","v":"RemoteStopTransaction","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":800,"y":1100,"wires":[["62b031e9d5b9ec1e"],["601a1a2d67c0f201"],[]]},{"id":"251e7e4fd63f9688","type":"ui_spacer","z":"acc9f35a.ec54d8","name":"spacer","group":"0e915cbea4642bb8","order":13,"width":10,"height":1},{"id":"d1795616bde8fc55","type":"ui_spacer","z":"acc9f35a.ec54d8","name":"spacer","group":"0e915cbea4642bb8","order":16,"width":2,"height":1},{"id":"2bafdaab.15b956","type":"ocpp-remotej-cp","name":"","cbId":"evse-001","ocppver":"1.6j"},{"id":"0e915cbea4642bb8","type":"ui_group","name":"Default","tab":"403dcdc02b6fd187","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"403dcdc02b6fd187","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]